body {
  overflow: hidden;
}

button {
  margin: 0.5em 1em;
  padding: 0.8em 1.6em;
  
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  
  border: 0.25em solid black;
}

button:active {
  opacity: 0.8;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#left {
  display: flex;
  flex-direction: column;
}

#right {
  display: flex;
  flex-direction: column;
}

.display {
  margin: 10px 25px;
}

#smeltingButton {
  background-color: #e50;
}

#miningButton {
  background-color: #888;
}

#moneyContainer {
  position: absolute;
  left: 2vw;
  bottom: 2dvh;
  
  display: flex;
  flex-direction: column;
}

#sellButton {
  margin: 0;
  background-color: #5d5;
}

#moneyDisplay {
  color: #585;
}