html, body {
  margin: 0;
  padding: 0;
  
  font-size: clamp(0.4rem, 1.3vw, 1.5rem);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#actionContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  
  position: fixed;
  bottom: 0;
  
  height: 30dvh;
  width: 100dvw;

  background-color: #666;
  padding: 1rem;
  border: clamp(0.4rem, 1.2vw, 1rem) solid #555;
  box-sizing: border-box;
}

.actionContainer-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionContainer-items button {
  border: 0.3em solid black;
  box-sizing: border-box;
  
  flex: 1;
}

button {
  font: inherit;
}

button:active {
  opacity: 0.7;
}

button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

#statsContainer {
  display: flex;
  flex-direction: column;
  
  position: fixed;
  bottom: 30dvh;
}

#sellIron, #sellCopper {
  background-color: #5e5;
}

#moneyDisplay {
  color: #3a3;
}

#smeltCopper {
  background: #e70;
}

#mineCopper {
  background: #aab;
}